* { box-sizing: border-box; }

.wrapper {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}

.row {
    clear: both;
}

.col {
    float: left;
    width: 8.333333%;
}

.col.span2 { width: 16.666666%;}
.col.span3 {width: 25%;}
.col.span4 {width: 33.333333%;}
.col.span5 {width: 41.666666%;}
.col.span6 {width: 50%;}
.col.span7 {width: 58.333333%;}
.col.span8 {width: 66.666666%;}
.col.span9 {width: 75%;}
.col.span10 {width: 83.333333%;}
.col.span11 {width: 91.666666%;}
.col.span12 {width: 100%;}

.letrasTitulo {
    width: 100%;
    text-align: center;
    margin-top: 20px;
   
}

.separador {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu{
    position: sticky;
    top: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #969696;
}

li {
    float:left;
    width: 100%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}